<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dddqmmx.surf.server.mapper.GroupMapper">
    <select id="geGroupListByUserId" resultType="com.dddqmmx.surf.server.pojo.Group">
        select * from `group` where id in (select groupId from group_member where userId = '1');
    </select>
</mapper>