<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dddqmmx.surf.server.mapper.GroupMemberMapper">

<select id="getGroupMemberListByGroupId" resultType="com.dddqmmx.surf.server.pojo.GroupMember">
    select * from group_member where groupId = #{groupId}
</select>
</mapper>