<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dddqmmx.surf.server.mapper.RelationMapper">
    <insert id="insertRelation">
        insert into relation(userId, otherSideId, relationType) value (#{userId},#{otherSideId},#{relationType});
    </insert>

    <select id="getFriendRequestByUserId" resultType="com.dddqmmx.surf.server.pojo.Relation">
        select * from relation where userId = #{userId} and relationType = 0;
    </select>

    <select id="hasRequest" resultType="java.lang.Integer">
        select count(1) from relation where userId = #{userId} and otherSideId = #{otherSideId} and relationType = 0;
    </select>

    <update id="updateRelation">
        update relation set relationType = #{relationType} where userId = #{userId} and otherSideId = #{otherSideId}
    </update>

    <select id="getFriendRequestByUserIdAndOtherSideId" resultType="com.dddqmmx.surf.server.pojo.Relation">
        select * from relation where userId = #{userId} and otherSideId = #{otherSideId};
    </select>
</mapper>